.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}
.transparent{
    -fx-background-color: rgba(0,0,0,0);
}
.search-button{
    -fx-background-color: #327ae6;
    -fx-background-radius: 30;
}
.right-bar{
    -fx-background-color:#e1eafa;
}
.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.15), 5.0, 0.0, 0.0, 5.0);
}
.small-shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.15), 2.0, 0.0, 0.0, 2.0);
}
.flight-box-title{
    -fx-background-color:#e1eafa;
    -fx-background-radius: 100;
    -fx-border-color: #4d4e52;
    -fx-border-width: 3;
    -fx-border-radius: 100;
}
.flight-box{
    -fx-background-color:#4d7ed6;
    -fx-background-radius: 30;
    -fx-border-color: #4d4e52;
    -fx-border-width: 5;
    -fx-border-radius: 30;
}
.reserve-button{
    -fx-background-color: #e1eafa;
    -fx-background-radius: 80;
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-radius: 85;
}
.flight-item{
    -fx-background-color: #de9f16;
    -fx-background-radius: 100;
    -fx-border-color: black;
    -fx-border-width: 2;
    -FX-border-radius: 105;
}



















